.button {
  border-radius: 99rem;
  padding: 0.8rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: fit-content;
  font-weight: bold;
}

.fancy {
  composes: button;
  margin: 2rem auto;
  background: linear-gradient(180deg, #1ce28f 0%, #15ab6c 100%);
  box-shadow:
    inset 0px 2px 0px rgba(255, 255, 255, 0.16),
    0 0 0 2px rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;

  &:hover {
    transform: rotate(1.5deg) scale(1.05);
  }
}

.ghost {
  composes: button;
  border: 2px solid color-mix(in srgb, currentColor, transparent 85%);
}
